/* nav bar */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav-right {
    float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

/* 메인 */
.main-container {
    display: grid;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px 10px 10px 10px;
}

table {
    width: calc(100% - 1em);
}

td {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table, td {
    border: 1px solid black;
}

input[type=text], input[type=date] {
    width: 95%;
}

select {
    width: 95%;
}

.section-main-button {
    float: right;
    margin: 20px 10px 10px 10px;
}

.section-main-title {
    float: left;
}

textarea {
    width: 100%;
    resize: none;
}

.section-four-table {
    margin: 10px 0 10px 0;
    table-layout: fixed;
}

.section-four-table > tbody > tr:first-child > td {
    background: #D5D8DC;
}

.input-title {
    background: #D5D8DC;
}

/* Pagination */
.current {background: #bccfd8;}
.link {padding: 10px 15px;background: transparent;border:#bccfd8 1px solid;border-left:0px;cursor:pointer;color:#607d8b}